node_modules/
yarn-error.log
ssconfig.tsbuildinfo
dist/
cache/
lib/

.DS_Store
**/.DS_Store"
MyLogFile.log
**/MyLogFile.log

**/.env

.yarn/*
.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


.idea/
.nvmrc
